In [1]:
# Import Dependencies
import sqlite3
import csv
import pandas as pd

In [2]:
connection = sqlite3.connect('countries.sqlite')
cursor = connection.cursor()

cursor.execute('CREATE TABLE countries (country TEXT PRIMARY KEY, rank INTEGER, area REAL, landAreaKm REAL, cca2 TEXT, \
            cca3 TEXT, netChange REAL, growthRate REAL, worldPercentage REAL, density REAL, densityMi REAL, place INTEGER, \
            pop1980 INTEGER, pop2000 INTEGER, pop2010 INTEGER, pop2022 INTEGER, pop2023 INTEGER, pop2030 INTEGER, \
            pop2050 INTEGER)')

with open('countries-table.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) #skip header row
    for row in reader:
        cursor.execute('INSERT INTO countries (country, rank, area, landAreaKm, cca2, cca3, netChange, growthRate, \
            worldPercentage, density, densityMi, place, pop1980, pop2000, pop2010, pop2022, pop2023, pop2030, pop2050) \
            VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)', row)

connection.commit()

In [ ]:
conn = sqlite3.connect('mydatabase.db')
c = conn.cursor()

c.execute('''CREATE TABLE mytable (id INTEGER PRIMARY KEY, name TEXT)''')

with open('mycsv.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    for row in reader:
        c.execute("INSERT INTO mytable (id, name) VALUES (?, ?)", row)

conn.commit()

In [3]:
# Confirm database
cursor.execute('SELECT * FROM countries LIMIT 10').fetchall()

[('India',
  1,
  3287590.0,
  2973190.0,
  'IN',
  'IND',
  0.4184,
  0.0081,
  0.1785,
  480.5033,
  1244.5036,
  356,
  696828385,
  1059633675,
  1240613620,
  1417173173,
  1428627663,
  1514994080,
  1670490596),
 ('China',
  2,
  9706961.0,
  9424702.9,
  'CN',
  'CHN',
  -0.0113,
  -0.0002,
  0.1781,
  151.2696,
  391.7884,
  156,
  982372466,
  1264099069,
  1348191368,
  1425887337,
  1425671352,
  1415605906,
  1312636325),
 ('United States',
  3,
  9372610.0,
  9147420.0,
  'US',
  'USA',
  0.0581,
  0.005,
  0.0425,
  37.1686,
  96.2666,
  840,
  223140018,
  282398554,
  311182845,
  338289857,
  339996563,
  352162301,
  375391963),
 ('Indonesia',
  4,
  1904569.0,
  1877519.0,
  'ID',
  'IDN',
  0.0727,
  0.0074,
  0.0347,
  147.8196,
  382.8528,
  360,
  148177096,
  214072421,
  244016173,
  275501339,
  277534122,
  292150100,
  317225213),
 ('Pakistan',
  5,
  881912.0,
  770880.0,
  'PK',
  'PAK',
  0.1495,
  0.0198,
  0.03,
  311.9625,
  807.9829,
  586,
  80624057,
  154369924,
  194454498,
  235824862,
  240485658,
  274029836,
  367808468),
 ('Nigeria',
  6,
  923768.0,
  910770.0,
  'NG',
  'NGA',
  0.168,
  0.0241,
  0.028,
  245.7312,
  636.4439,
  566,
  72951439,
  122851984,
  160952853,
  218541212,
  223804632,
  262580426,
  377459883),
 ('Brazil',
  7,
  8515767.0,
  8358140.0,
  'BR',
  'BRA',
  0.0393,
  0.0052,
  0.027,
  25.8936,
  67.0645,
  76,
  122288383,
  175873720,
  196353492,
  215313498,
  216422446,
  223908968,
  230885725),
 ('Bangladesh',
  8,
  147570.0,
  130170.0,
  'BD',
  'BGD',
  0.0557,
  0.0103,
  0.0216,
  1328.6803,
  3441.2821,
  50,
  83929765,
  129193327,
  148391139,
  171186372,
  172954319,
  184424144,
  203904900),
 ('Russia',
  9,
  17098242.0,
  16376870.0,
  'RU',
  'RUS',
  -0.0158,
  -0.0019,
  0.018,
  8.82,
  22.8439,
  643,
  138257420,
  146844839,
  143242599,
  144713314,
  144444359,
  141432741,
  133133035),
 ('Mexico',
  10,
  1964375.0,
  1943950.0,
  'MX',
  'MEX',
  0.0299,
  0.0075,
  0.016,
  66.0797,
  171.1463,
  484,
  67705186,
  97873442,
  112532401,
  127504125,
  128455567,
  134534107,
  143772364)]

In [4]:
# Confirm primary key
cursor = connection.execute('PRAGMA table_info(countries)')
columns = cursor.fetchall()

primary_key_column = None
for column in columns:
    if column[5] == 1:
        primary_key_column = column[1]
        break

if primary_key_column is not None:
    print(f'The primary key column is {primary_key_column}.')
else:
    print('The table does not have a primary key.')

The primary key column is country.

In [5]:
# Close connection
connection.close()